doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title 后台管理系统登录
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body.login-layout
        div.main-container
            div.main-content
                div.row
                    div.col-sm-10.col-sm-offset-1
                        div.login-container
                            div.position-relative
                                div#login-box.login-box.visible.widget-box.no-border
                                    div.widget-body
                                        div.widget-main
                                            h2.header.blue.lighter.bigger.center CMS内容管理系统
                                            div.space-6





